body {
  font-family: cursive;
  text-align: center;
  background-color: lightskyblue;
}

.pet-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
}

.pet {
  cursor: pointer;
  background-color: white;
  border-radius: 8px;
  padding: 8px;
  margin: 8px;
  width: 240px;
  height: 185px;
}

.emoji {
  font-size: 80px;
  cursor: pointer;
  margin-top: 10px;
}

p {
  font-size: 19px;
}

.pet.selected {
  border: 7px solid darkcyan;
}

.treat-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#message1, #message2 {
    margin-top: -22px;
}